# Database Connection URL (PostgreSQL / Neon)
DATABASE_URL=postgresql://neondb_owner:npg_9EOF5NShJKBa@ep-weathered-rain-aulzr1bc-pooler.c-10.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# Server Port (default 3000)
PORT=3000

# Node Environment (development / production)
NODE_ENV=development
